<!-- #main 本文スペース -->
<div id="submenu">
	<p>Feel free to click on a board that interests you and jump right in!</p>
	<ul>
	<br>
	<li><a href="#">US</a></li><br>
	<li><a href="#">Singapore</a></li><br>
	<li><a href="#">Japan</a></li>
	</ul>
</div>
