<!-- #main 本文スペース -->
<div id="submenu">
	<p>Feel free to click on a board that interests you and jump right in!</p>
	<ul>
  	<li><a href="/en/select">US</a></li>
  	<li><a href="/sg/select">Singapore</a></li>
	  <li><a href="/jp/select">Japan</a></li>
	</ul>
</div>
