<%= render "select_lang_side" -%>

<!-- #main 本文スペース -->
<div id="main">
	<h2>What is Techpoli?</h2>
	<p> "Let's make a new culture can unite different cultures."<br>Techpoli is launched under this philosophy.<br><br>◆ Please comment on each thematic.<br>◆ In principle,you can comment anonymously on Techpoli,but "NANASHI(nameless)" is not permitted.<br>◆ Not only you can comment freely,but also you can attach images.<br>◆ You don't need to take responsibility on your information more than necessary.<br>◆ Anyone can delete the vicious comments by clicking [×].<br>◆ To make a peaceful place,please read <a href="/rules">Rules</a></li> before writing.<br><br>We hope that you have a meaningful exchanges of opinions actively with no border.
	</p>

<br><br>
	<h2>Techpoliとは</h2>
	<p>Techpoliは「異文化を融合させることで新しい文化を創ろう」という理念のもと発足したサイトです。<br><br>◆ 各テーマに沿った内容についてコメントしてください。<br>◆ 原則匿名の掲示板ですが「名無し」は認めていません。<br>◆ コメントの内容についてはあなたの自由ですし、画像を添付することも出来ます。<br>◆ 書き込んだコメントの情報に対して必要以上の責任を持つ必要はありません。<br>◆ 悪質なコメントについては[×]をクリッックすることで誰でも削除できます。<br>◆ 平和な場にするため書き込む前には必ず<a href="/rules">Rules</a></li>をお読みください。<br><br>文化の壁を越えて意義のある意見の交換が活発に行われることを願っています。
	<br>
</p>
	</div>
