<%= render "select_lang_side" -%>

<div id="main">
	<h2>Contact</h2>
	<p>
Thank you for your interest in contacting Techpoli.
<br><br>
Before proceeding, please ensure that your question hasn't already been answered on the <a href="./About/About.htm">About</a></li> and <a href="./Rules/Rules.htm">Rules</a></li> page.
<br>Due to the high volume of e-mail we receive, we may not be able to respond to your inquiry immediately.
<br><br></p>
</p>
<p>
E-mail:<br><br>
◆ Question:
<br>
◆ Advertising:
<br>
◆ Request:
 </p>
 	<h2></h2>
	 <p>
Techpoliに興味を持ってくださりありがとうございます。<br><br>
メールを送る前に<a href="./About/About.htm">About</a></li>もしくは<a href="./Rules/Rules.htm">Rules</a></li>のページを確認してください。<br>皆様から多くのメールを頂くため、すぐに返信することが出来ないことがあるかもしれません。<br><br></p>
</p>
<p>
E-mail:<br><br>
◆ 質問:
<br>
◆ 広告:
<br>
◆ 要望:
 </p>
	</div>
