<%= render "select_lang_side" -%>

<!-- #main 本文スペース -->
<div id="main">
	<h2>Welcome to Techpoli</h2>
	<p>Techpoli is an anonymous bulletin board where anyone can post comments and share images.</p>
	<p>Users do not need to register an account before participating in the community. </p>

	<h2>ようこそ Techpoli へ</h2>
	<p>Techpoli(テクポリ)はどなたでも書き込むことが出来る匿名掲示板です。</p>
	<p>書き込む前に会員登録する必要はありません。</p>
</div>

