<%= render "select_lang_side" -%>

<div id="main">
	<h2>Rules</h2>
	<p>Please stop putting a parson to make trouble. The details are as follows:
 <br>
<br>◆ You must not on account write abusive words and words that make others disagreeable.
<br>◆ You should not slander people and expose the private information on Techpoli.
<br>◆ Don't perplex board of Techpoli.
<br>◆ Don't post an immoral images on Techpoli.<br><br>

All are just common-sense rules.
	</p>

<br><br>
	<h2>ルール</h2>
	<p>他人に迷惑をかけることは絶対にやめましょう。具体的には
<br>
<br>◆ 暴言や第三者を不快にする書き込みはしない。
<br>◆ 一般人の誹謗中傷・私生活情報の暴露はしない。
<br>◆ 場を荒らさない。
<br>◆ モラルに反する画像は載せない。<br><br>

といった当たり前のことです。
	<br>
</p>
	</div>
